// Variables
$color-primary: #28b8d8;
$color-dark: #333;
$color-white: #fff;
$color-light: #f9f9f9;
$color-bg: #222;

@import url('https://fonts.googleapis.com/css2?family=Roboto Condensed:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Global resets & typography
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;

    a {
        font-size: 14px;
        text-decoration: none;
        color: $color-white;
        line-height: 21px;
        text-transform: uppercase;
        transition: all linear 0.2s;

        &:hover {
            color: $color-primary;
        }
    }

    i {
        font-size: 16px !important;
        line-height: 30px !important;
        transition: all linear 0.2s;
    }
}

// Header section

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 60px;

    img {
        height: 67px;
        width: 38px;
    }

    p {
        font-size: 2rem;
        font-weight: bold;
        color: $color-white;
    }
}

header {
    height: 90px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    position: fixed;
    z-index: 100;

    .header-container {
        width: 100%;
        padding: 0 12px;
        margin: 0 auto;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;

        .menu-list {
            display: flex;
            margin-left: auto;
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
            /* Add transition */

            a {
                margin: 0 20px;
            }
        }

        .small-menu {
            margin-left: auto;
            color: $color-white;
            padding: 7px;
            border-radius: 2px;
            cursor: pointer;
            transition: all linear 0.2s;

            &:hover {
                color: $color-primary;
            }
        }

        .social-icon {
            display: flex;
            gap: 1.5rem;

            i {
                line-height: 30px;
            }

            &::before {
                content: "";
                top: -2px;
                left: 0;
                width: 1px;
                height: 30px;
                background: #3b3941;
            }
        }
    }
}

// Banner section

#banner {
    background-size: 100%s;
    padding-top: 35vh;
    padding-bottom: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color-white;

    .banner-img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 80%;
        width: 100%;
        z-index: 1;
        padding: 0;
        margin: 0;
    }

    .hero {
        z-index: 2;

        h1 {
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.2;
            text-transform: uppercase;
            margin-bottom: 0;
            letter-spacing: 2px;
        }

        h4 {
            font-family: 'Roboto Serif';
            font-weight: 100;
            font-size: 2.5rem;
            letter-spacing: 5px;
            margin-top: -5px;
            text-transform: uppercase;
            margin-bottom: 0;
            line-height: 1.2;
        }

        p {
            font-family: 'Roboto Serif';
            font-weight: 50;
            font-size: 14px;
            padding-top: 5px;
            margin-bottom: 0;
        }
    }
}

// Services section

.line {
    height: 5px;
    width: 8%;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
}

#service {
    padding-top: 50px;
    width: 100%;
    background-color: $color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #6d6d6d;

    .container {
        width: 72%;

        .service {
            .service-heading {
                text-align: center;
                margin: 25px 0;

                h3 {
                    font-family: 'Roboto Serif';
                    padding-top: 25px;
                    font-weight: 400;
                    font-size: 30px;
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    padding-top: 25px;
                }

                .service-section-title {
                    padding-top: 55px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: $color-dark;
                    margin: 20px 0;

                    h4 {
                        font-size: 16px;
                        padding: 0 10px;
                        font-weight: 600;
                    }
                }
            }
        }

        .service-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            .item-container {
                background-color: $color-white;
                border: 1px solid #efefef;
                flex: 1;
                max-width: 30%;
                min-width: 280px;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                padding: 10px;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    margin-bottom: 10px;
                    border-radius: 5px;
                }

                h4 {
                    font-family: 'Roboto Serif';
                    color: $color-dark;
                    font-weight: 600;
                }

                p {
                    padding-bottom: 20px;
                }
            }
        }
    }
}

// Gallery section
#gallery {
    padding-top: 50px;
    width: 100%;
    background-color: $color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #6d6d6d;

    .container {
        width: 72%;

        .gallery-section-title {
            width: 100%;
            padding-top: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $color-dark;
            margin: 20px 0;

            h4 {
                font-size: 16px;
                padding: 0 10px;
                font-weight: 600;
            }
        }

        .row {
            display: flex;
            flex-wrap: wrap; // Enable wrapping for smaller screens

            .column {
                display: flex;
                flex-direction: column;
                flex: 50%; // Default: two columns side by side
                max-width: 50%;
                padding: 10px; // Add spacing between columns

                .img-hover-zoom {
                    overflow: hidden;
                    object-fit: cover;
                    border: 15px solid $color-light;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 0.5s ease;
                    }

                    &:hover img {
                        transform: scale(1.2);
                    }
                }

                .img-60 {
                    flex: 6;
                }

                .img-40 {
                    flex: 4;
                }
            }
        }
    }
}

@media (max-width: 768px) {


    .row {
        flex-direction: column !important; // Stack columns vertically
    }

    .column {
        flex: 100%; // Make each column full width
        max-width: 100% !important;
    }
}

.add {
    display: none;
}

// Container widths for different breakpoints
@media (min-width: 576px) {


    .container {
        max-width: 540px;
    }

    .header-container {
        max-width: 540px;
    }

    .banner .container {
        max-width: 540px;
    }


}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .header-container {
        max-width: 720px;
    }



}

@media (min-width: 992px) {
    .container {
        position: relative;
        max-width: 960px;
    }

    .header-container {
        position: relative;
        max-width: 960px;
    }


    .small-menu {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .header-container {
        max-width: 1140px;
    }



    .small-menu {
        display: none !important;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    .header-container {
        max-width: 1150px;
    }

    .small-menu {
        display: none !important;
    }
}

// Show the burger menu on smaller devices
@media (max-width: 991px) {
    header {
        height: fit-content;
    }

    .small-menu {
        display: inline-block;
    }

    .menu-list {
        display: flex;
        position: absolute;
        top: 60px;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
        transform: translateY(-20px);
        /* Hidden position */
        opacity: 0;
        /* Hidden opacity */
        pointer-events: none;

        &.active {
            transform: translateY(0);
            /* Show menu */
            opacity: 1;
            /* Show opacity */
            pointer-events: all;
        }

        a {
            padding: 5px;
            width: 100%;
            text-align: center;

            &:hover {
                background-color: $color-primary;
                color: $color-white;
            }
        }
    }


    .service-container .item-container {
        max-width: 45%;
        flex: 1 1 45%;
    }

}

@media (max-width: 575px) {
    .service-container .item-container {
        max-width: 100%;
        flex: 1 1 100%;
    }

}

// Responsively show menu items in a column below 992px
footer {
    background: $color-bg;
    color: $color-white;
    padding: 20px 0;
    font-size: 14px;

    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1140px;
        margin: 0 auto;
        padding: 20px;
    }

    .footer-column {
        flex: 1;
        margin: 10px;
        min-width: 200px;

        i {
            font-size: 16px;
            margin-right: 5px;
        }

        h4 {
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: bold;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 8px;

                &:hover {
                    color: $color-primary;
                }

                a {
                    text-decoration: none;
                    color: $color-white;
                    width: 100%;
                    transition: color 0.3s;

                    &:hover {
                        color: $color-primary;
                    }

                    i:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }

    .footer-bottom {
        margin-top: 20px;
        font-size: 12px;
        color: #ccc;
        border-top: 1px solid #444;
        padding-top: 10px;
    }
}

// footer responsive 
@media (max-width: 768px) {


    .footer-container {
        flex-direction: column;
    }

    .footer-column {
        margin-bottom: 20px;
    }

    .footer-column .logo {
        display: none;
    }

    #banner .hero {
        h1 {
            font-size: 2.5rem;
        }

        h4 {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 936px) {
    #footerLogo {
        display: none;
    }
}